<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>AHP Pemilihan Karyawan</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <h1>AHP Pemilihan Karyawan</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/input">Input Nilai Alternatif</a> |
      <a href="/matrix">Matrix Perbandingan</a> |
      <a href="/hasil">Hasil Perhitungan</a>
    </nav>
    <hr/>
  </header>
  <main>
